In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn import linear_model
%matplotlib inline

In [5]:
homeprice = pd.read_csv('homeprice2.csv')
homeprice

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [8]:
import math
homeprice_median = math.floor(homeprice.bedrooms.median())
homeprice_median

4

In [10]:
homeprice.bedrooms = homeprice.bedrooms.fillna(homeprice_median)

In [11]:
homeprice

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [13]:
reg = linear_model.LinearRegression()
reg.fit(homeprice[['area', 'bedrooms', 'age']], homeprice.price)

LinearRegression()

In [14]:
reg.predict([[5000,8,2]])

/home/opeyemi/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([962282.81638232])